.row{
  text-align: center;
}
body .bl-navbar {
  background-color: #2c3e50;
  margin: 0;
  border: 0;
  border-radius: 0px;
}
body .bl-navbar .navbar-brand, body .bl-navbar .navbar-nav>li>a {
  color: #fff;
}
body .bl-navbar .navbar-brand {
  font-size:24px;
  font-weight: bolder;
}
body .bl-navbar .navbar-nav > li > a {
  font-weight: bolder;
}
body .bl-navbar .navbar-brand:hover,.container-fluid .bl-navbar .navbar-nav > li > a:hover {
  color: #1ABC9C;
}
.navbar {
  margin: 0;
}
.copertina{
  background-color: #1abc9c;
  color: white;
  padding-bottom: 40px;
  margin-bottom: 40px;
}
.icona::before, .icona::after {
  display: inline-block;
  content: "";
  width: 115px;
  border: 1px solid;
  margin: 0 25px 5px;
}
#avatar {
 width: 200px;
}
.titolo{
  font-size: 40px;
  font-weight: bold;
}
.sottotitolo{
  font-size: 18px;
  margin-top: 5px;
}
.portfolio {
  color: #333;
}
.container-img-portfolio{
  margin-bottom: 20px;
}
.row-img{
  margin: 10px 0;
}
.img-portfolio{
  height:181px;
}
.about{
  background-color: #1abc9c;
  color: white;
  padding: 40px 0 40px;
  margin-bottom: 40px;
}
.text{
    margin: 20px 0;
    text-align: left;
}
.download{
  display: inline-block;
  margin-right: 6px;
}
#btn-download{
  background-color: transparent;
  border: 1px solid white;
  border-radius: 7px 7px;
}
.row-form{
  padding-bottom: 40px;
}
form{
  text-align: left;
}
.elemento-form{
  border: none;
  border-bottom: 1px solid lightgray;
  width: 100%;
  display: block;
}
#message{
  height: 100px;
}
#send{
  text-align: left;
}
#send {
  background-color: #1abc9c;
  color: white;
  border-radius: 5px 5px;
  border: none;
}
.footer{
  background-color: #3a546d;
  color: white;
}
.information{
  margin: 40px 0;
}
.container-img-footer{
  display: inline-block;
}
.img-footer{
  width: 35px;
}
.footer-title{
  font-size: 17px;
}
.footer-text{
  padding: 0 5px;
}
span {
  color: #1abc9c;
}
.copyright{
  background-color: #2c3e50;
  padding: 25px 0;
}
.box{
  margin-bottom: 25px;
}
